<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Bengelsdorff Angular2 Playground</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/bindings']">
                        <span class='glyphicon glyphicon-refresh'></span> Bindings
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/directives']">
                        <span class='glyphicon glyphicon-console'></span> Directives
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/components']">
                        <span class='glyphicon glyphicon-th-large'></span> Components
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/pipes']">
                        <span class='glyphicon glyphicon-filter'></span> Pipes
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/services']">
                        <span class='glyphicon glyphicon-th-list'></span> Services
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/http']">
                        <span class='glyphicon glyphicon-globe'></span> HTTP
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/routing']">
                        <span class='glyphicon glyphicon-random'></span> Routing
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/template-driven-forms']">
                        <span class='glyphicon glyphicon-edit'></span> Template Driven Forms
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/model-driven-forms']">
                        <span class='glyphicon glyphicon-share'></span> Model Driven Forms
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
