<div class="page-header">
    <h1>Bindings</h1>
</div>

<panel title="Interpolation + Property Binding + Event Binding" class="col-lg-4">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" [class.active]="optionActive == 'home'">
            <a (click)="clickHome($event)" href="#">Home <span class="badge">{{homeBadges}}</span></a>
        </li>
        <li role="presentation" [class.active]="optionActive == 'profile'">
            <a (click)="clickProfile($event)" href="#">Profile <span class="badge">{{profileBadges}}</span></a>
        </li>
        <li role="presentation" [class.active]="optionActive == 'messages'">
            <a (click)="clickMessages($event)" href="#">Messages <span class="badge">{{messagesBadges}}</span></a>
        </li>
    </ul>
</panel>

<panel title="Two-way Data Binding" class="col-lg-3">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Messages: </span>
        <input type="text" class="form-control" placeholder="No messages" aria-describedby="basic-addon1" [(ngModel)]="messagesBadges">
    </div>
</panel>